
#login-box {
    font-family: 'Comfortaa';
    font-weight: 510;
    opacity: 0.8;
    text-align: center;
    margin-top: 70px;
    margin-right: 50px;
    padding: 45px;
    padding-right: 1.4%;
    display: inline-block;
    width: 290px;
    background-color: #ff6f61;
}
#login-box form {
    margin: 5px 30px 0px 5px;
    padding: 12px;
}
#login-box form label{
    font-size: 20px;
    padding: 4.5px;
}
#login-box form input {
    height: 25px;
    width: 200px;
    margin: 5px 0px;
}
#login-box form button{
    font-size: 18px;
    margin-top: 20px;
    border: 0;
    height: 30px;
    width: 200px;
    background-color:  #262626 ;
    color: white;
}
#login-box a {
    
    margin-top: 100px;
    margin-left: -20px;
    /* padding-left: -100px; */
    
    font-size: 18px;
}
#lgb {
    text-align: right;
}

@font-face {
	font-family: '33535gillsansmt';
	src: url('../css/33535gillsansmt.eot');
	src: local('33535gillsansmt'), url('../css/33535gillsansmt.woff') format('woff'), url('./33535gillsansmt.ttf') format('truetype');
}

.fontsforweb_fontid_1416 {
	font-family: '33535gillsansmt' !important;
}

#login-box button:hover {
    font-size: 22px;
    /* background-color: white; 
    color: black; */
    cursor: pointer;
}


