

body form {
    margin: 20px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: 570;
    margin-bottom: 40px;
    
}
body form input{
    margin: 10px;
    height: 25px;
    width: 300px;
}

body form button{
    margin-left: 7%;
    margin-right: 30%;
    opacity: 1;
    background-color: #ff6f61;
    display: inline-block;
    /* font-family: FreeMono; */
    border: 0ch;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 570;
    height: 30px;
    width: 270px;
}

body .forma {
    padding: 40px;
    opacity: 0.75;
    /* font-family: FreeMono; */
    text-align: center;
    margin: 50px 300px;
    background-color: white;
    border: 0;
    /* border-radius: 30px; */
    
}
