<div class="mainp">
        <div class="forma">
        <h1>Регистрация</h1>
        <form action="">
            Имя: <br>
            <input id="name" type="text">
            <br>
            Фамилия <br>
            <input id="lastname" type="text">
            <br>
            Год обучения: <br>
            <input id="year" type="text">
            <br>
            Факультет: <br>
            <input id="faculty" type="text">
            <br>
            Специальность <br>
            <input id="specialnost" type="text">
            <br>
            ID студента: <br>
            <input id="s-id" type="text">
            <br>
            Почта: <br>
            <input id="email" type="text">
            <br>
            Пароль: <br>
            <input id="pass" type="password">
            <br>
            <br>
            <button type="submit"> Зарегистрироваться </button>
        </form>
        </div>
</div>