<div class="mainp">
  <div class="fullbody">
  <div class="subjects">

<ng-container *ngIf="isLogged">
      
  <!-- <ng-container > -->

        <h1> Your courses :</h1>
          <h4>
          <div *ngFor="let c of courses">
              Name : {{c.name}}
              <br>
              Description : {{c.description}}
              <br>
              <span style="color: red" (click)="deleteCourse(c)"> Удалить</span>
              <span style="color: green" (click)="edit(c)"> Изменить</span>
              <br>
          </div>
          <br>
        </h4>

      <div>
          <ng-container *ngIf="ifEditing">
              <h3>Edit Course</h3>
              Name : <input type="text" [(ngModel)]="edited.name" >
              <br>
              Description : <input type="text" [(ngModel)]="edited.description" >
              <br>
              <button (click)="updateCourse(edited)">
                OK
              </button>
          </ng-container>
        <br>
        <br>

          <h3>Create Course:</h3>
        <div>
            


            Name: <input type="text" [(ngModel)]="name" />
            <br>
            Description: <input type="text" [(ngModel)]="description" />
            <br>
            <button (click)="createCourse()">Create</button>
        </div>

      
      </div>
      <br>
      
          
  </ng-container>
    </div>

 

</div>
</div>