<!-- <ng-container *ngIf="!ifSelectedCourse"> -->

<div class="mainp">
  <div class="fullbody">
  <div class="subjects">

<ng-container *ngIf="isLogged">
      
  <!-- <ng-container > -->
    <ng-container *ngIf="!student">
      <div id="roflmao">
          <h3>Create Course:</h3>
            Name: <input type="text" [(ngModel)]="name" />
            <br>
            Description: <input type="text" [(ngModel)]="description" />
            <br>
            <button (click)="createCourse()">Create</button>
        </div>
      </ng-container>
      <ng-container *ngIf="student">
          <div id="roflmao">
              <h3>Avaiable Courses:</h3>
                <ul *ngFor="let item of courses">
                  <li>Course title: {{item.name}} <br>
                      Course description: {{item.description}}
                      <br>
                      <button class="registerbuttons" (click)="createCourse()">Register</button>
                  </li>
                </ul>
            </div>
          </ng-container>
        <div style="position: relative; top: 100px;">
            <ng-container *ngIf="ifEditing">
                <h3>Edit Course</h3>
                Name : <input type="text" [(ngModel)]="edited.name" >
                <br>
                Description : <input type="text" [(ngModel)]="edited.description" >
                <br>
                <button (click)="updateCourse(edited)">
                  OK
                </button>
            </ng-container>
        </div>
      <div id="courses" style="position: relative;">
        <h1 style="color: white;"> Your courses :</h1>
        
          <h4>
          <div *ngFor="let c of studentcourses" class="coursesu"style="border: 2px solid red; width: 300px; margin: 5px 0; background-color: #ff6f61; border-radius: 15px; ">
              <a (click)="rememberCourseMethod" (click)="sendMessageByService"  href="course"  >Name : {{c.name}}</a>
              <br>
              <a>Description : {{c.description}}</a>
              <br>
              <span style="color: red" (click)="deleteCourse(c)"> Unregister </span>
              <br>
          </div>
          <br>
        </h4>
        </div>
        
      
      <br>
      
          
  </ng-container>
    </div>

 

</div>
</div>
<!-- </ng-container> -->


<!-- <ng-container *ngIf="ifSelectedCourse">

<app-course> </app-course>

</ng-container> -->