  <!-- <a href="main.html"> <h1>FIThub.com</h2> </a>
      <div class="doptext">
              <a href="class.html"> Subjects </a> |
              <a href="project info.html"> Info </a> |
              <a href="news.html"> News </a>
        </div> -->

<div class="all">
    
    <a href="index.html"> <h1>FIThub.com</h1> </a>
      <div class="doptext">
              <a href="class"> Subjects </a> |
              <a href="info"> Info </a> |
              <a href="news"> News </a>
        </div>

</div>
