* {
    padding:0px;
    margin:0px;
}

header {
    background-color: rgb(190, 230, 255);
    font-family: Arial, Helvetica, sans-serif;
    height: 85px;
    padding-left: 3%;
    padding-top: 2.6%;
    border: 1px solid lightsteelblue;
}

body {
    background-image: url("C:/Users/Админ/Desktop/WEBDEV/WEEK4/images/kbtu.jpg");
    background-size: 143.5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    font-style: bold;
    font-size: 40px;
}