
body form {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: 570;
    margin-bottom: 40px;
}
body form input{
    margin: 10px;
    height: 25px;
    width: 300px;
}

body form button{
    margin-left: 7%;
    margin-right: 30%;
    background-color: lightskyblue;
    display: inline-block;
    /* font-family: FreeMono; */
    border: 0ch;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 570;
    height: 30px;

    color: rgb(45, 29, 88);
    width: 270px;
}

body .forma {
    padding: 40px;
    opacity: 0.9;
    /* font-family: FreeMono; */
    color: rgb(45, 29, 88);
    text-align: center;
    margin: 50px 300px;
    background-color: antiquewhite;
    border: 3px darkcyan solid;
    border-radius: 30px;
    
}
